
# Created by https://www.gitignore.io/api/windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#System folder
/RemoteSystemsTempFiles/
/System Volume Information/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows


######### My ignore ##########
#photoshop files
.psd
*.psd
/designs/
/projects/mcard/design/*

#temp Image folder
.json
*.json

*.bak
/videos/
videos/
.mp4
.pdf
*.pdf

#Google documents
*.gslides
*.gsheet
*.apk
db.php
planner/chk-login.php
planner/login.php
planner/chk-login.php
planner/db.php
planner/db-load.php
planner/db-update.php
weather/mimun.php
